[Desktop Entry]
Type=Application
Name=Dunst Notification provider
TryExec=dunst
Exec=dunst
StartupNotify=false
NoDisplay=true

X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
